Repository cerberus-iam/webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=-1

feat: add invitations and webhooks data tables with actions
  eslint.config.mjs
  src/components/clients/edit-client-dialog.tsx
  src/components/tables/access-control/roles/columns.tsx
  src/components/tables/access-control/roles/data-table.tsx
  src/components/tables/applications/clients/columns.tsx
  src/components/tables/applications/clients/data-table.tsx
  src/components/tables/audit/logs/columns.tsx
  src/components/tables/audit/logs/data-table.tsx
  src/components/tables/directory/teams/columns.tsx
  src/components/tables/directory/teams/data-table.tsx
  src/components/tables/directory/users/columns.tsx
  src/components/tables/directory/users/data-table.tsx
  src/components/tables/settings/api-keys/columns.tsx
  src/components/tables/settings/api-keys/data-table.tsx
  src/components/tables/settings/invitations/columns.tsx
  src/components/tables/settings/invitations/data-table.tsx
  src/components/tables/settings/webhooks/columns.tsx
  src/components/tables/settings/webhooks/data-table.tsx
  src/components/teams/edit-team-dialog.tsx
  src/components/teams/manage-members-dialog.tsx
  src/components/webhooks/edit-webhook-dialog.tsx
  src/pages/access-control/roles/index.tsx
  src/pages/applications/clients/index.tsx
  src/pages/audit/logs/index.tsx
  src/pages/directory/teams/index.tsx
  src/pages/directory/users/_columns.tsx
  src/pages/directory/users/index.tsx
  src/pages/settings/api-keys/index.tsx
  src/pages/settings/invitations/index.tsx
  src/pages/settings/webhooks/index.tsx
  src/pages/users/index.tsx
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=-1

fix: remove coverage flag from unit tests and disable coverage report upload
  .github/workflows/ci.yml
Due: none

fix: temporarily disable E2E tests for manual execution only
  .github/workflows/e2e.yml
Due: none

feat: implement server-side authentication check and redirection logic
  src/pages/index.tsx
Due: prettier --write, eslint --fix --max-warnings=-1

feat: add timeout handling for profile requests and optimize authentication checks
  src/lib/auth/redirects.ts
  src/pages/index.tsx
Due: prettier --write, eslint --fix --max-warnings=-1

feat: add detailed logging for authentication checks and profile requests
  src/lib/auth/client-factory.ts
  src/lib/auth/redirects.ts
Due: prettier --write, eslint --fix --max-warnings=-1

fix: comment out unused API imports and related logic in dashboard page
  src/pages/dashboard.tsx
Due: prettier --write, eslint --fix --max-warnings=-1

feat: add detailed logging for API requests and responses in various pages
  src/lib/auth/client-factory.ts
  src/pages/access-control/roles/index.tsx
  src/pages/applications/clients/index.tsx
  src/pages/dashboard.tsx
  src/pages/directory/teams/index.tsx
  src/pages/directory/users/index.tsx
  src/pages/test.tsx
Due: prettier --write, eslint --fix --max-warnings=-1

feat: add collapsible component and integrate into navigation
  package-lock.json
  package.json
  src/components/nav-documents.tsx
  src/components/nav-main.tsx
  src/components/nav-secondary.tsx
  src/components/roles/manage-permissions-dialog.tsx
  src/components/ui/collapsible.tsx
  src/lib/api/client-side.ts
  src/lib/api/client.ts
  src/lib/api/roles.ts
  src/pages/access-control/roles/index.tsx
  src/pages/api/proxy/[...path].ts
  src/pages/applications/clients/index.tsx
  src/pages/audit/logs/index.tsx
  src/pages/dashboard.tsx
  src/pages/directory/teams/index.tsx
  src/pages/settings/api-keys/index.tsx
  src/pages/settings/invitations/index.tsx
  src/pages/settings/organisation.tsx
  src/pages/settings/webhooks/index.tsx
Due: prettier --write, eslint --fix --max-warnings=-1

feat: refactor API client usage in invitation dialogs for consistency
  src/components/invitations/create-invitation-dialog.tsx
  src/components/invitations/resend-invitation-dialog.tsx
  src/components/invitations/revoke-invitation-dialog.tsx
Due: prettier --write, eslint --fix --max-warnings=-1

feat: Integrate PageHeader component into DashboardPage for improved layout and readability
  src/pages/dashboard.tsx
Due: prettier --write, eslint --fix --max-warnings=-1

feat: Add peer dependency flag to multiple packages in package-lock.json
  package-lock.json
Due: prettier --write

feat: Implement invitation acceptance page with token validation and user registration
  src/lib/api/invitations.ts
  src/pages/invite/[token].tsx
Due: prettier --write, eslint --fix --max-warnings=-1

feat: Add RadioGroup component and update invitation dialogs to use it for role selection
  package-lock.json
  package.json
  src/components/invitations/create-invitation-dialog.tsx
  src/components/invitations/resend-invitation-dialog.tsx
  src/components/invitations/revoke-invitation-dialog.tsx
  src/components/ui/radio-group.tsx
  src/lib/api/invitations.ts
Due: prettier --write, eslint --fix --max-warnings=-1

refactor: Remove slug field from CreateRoleDialog and update CreateRoleRequest to make slug optional
  src/components/roles/create-role-dialog.tsx
  src/lib/api/roles.ts
Due: prettier --write, eslint --fix --max-warnings=-1

feat: Add NProgress for global page loading progress and include styles
  package-lock.json
  package.json
  src/components/page-progress.tsx
  src/pages/_app.tsx
  src/styles/nprogress.css
Due: prettier --write, eslint --fix --max-warnings=-1

feat: Introduce URL configuration and update documentation links across the application
  package-lock.json
  src/components/site-header.tsx
  src/config/urls.ts
  src/pages/_app.tsx
  src/pages/access-control/roles/index.tsx
  src/pages/applications/clients/index.tsx
  src/pages/audit/logs/index.tsx
  src/pages/directory/teams/index.tsx
  src/pages/directory/users/index.tsx
  src/pages/settings/api-keys/index.tsx
  src/pages/settings/invitations/index.tsx
  src/pages/settings/organisation.tsx
  src/pages/settings/webhooks/index.tsx
  src/styles/globals.css
  tailwind.config.ts
Due: prettier --write, eslint --fix --max-warnings=-1

feat: update environment variable for default organization slug
  .env.example
  src/components/app-sidebar.tsx
  src/components/empty-state.tsx
  src/components/nav-user.tsx
  src/components/page-header.tsx
  src/components/site-header.tsx
  src/components/ui/button.tsx
  src/layouts/auth.tsx
  src/lib/auth/client-factory.ts
  src/lib/auth/redirects.ts
  src/pages/access-control/roles/index.tsx
  src/pages/applications/clients/index.tsx
  src/pages/audit/logs/index.tsx
  src/pages/dashboard.tsx
  src/pages/directory/teams/index.tsx
  src/pages/directory/users/index.tsx
  src/pages/settings/api-keys/index.tsx
  src/pages/settings/invitations/index.tsx
  src/pages/settings/organisation.tsx
  src/pages/settings/webhooks/index.tsx
  src/styles/globals.css
  tailwind.config.ts
Due: prettier --write, eslint --fix --max-warnings=-1

feat: enhance shooting star animations and styles for improved visual effects
  src/styles/globals.css
Due: prettier --write

feat: update color scheme by replacing navy with neutral grays and enhancing background styles
  src/layouts/auth.tsx
  src/styles/globals.css
  tailwind.config.ts
Due: prettier --write, eslint --fix --max-warnings=-1

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md})
  eslint --fix --max-warnings=-1: any of: *.{js,jsx,ts,tsx}
